<p style="white-space: pre-wrap; margin-top:30px;">@ViewBag.Message</p>

<section id="loginForm">
    @using (Html.BeginForm("Index", "DashBoard"))
    {
        <input type="submit" value="Ok" class="btn btn-default" />
    }
</section>